* {
  margin: 0;
  padding: 0;
  --background-color: rgb(246, 246, 246);
}

body {
  overflow: hidden;
  /* cursor: none; */
}

.hero {
  background-color: var(--background-color);
  margin: 16px;
  border-radius: 16px;
  height: 90vh;
  background-image: url("../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: left;
  align-items: center;
}

.bgimage {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  height: 100%;
  width: 100%;
}

.front {
  position: absolute;
  top: 200px;
  left: 80px;
}

.herotext {
  font-family: "Cinzel Decorative", serif;
  font-size: 100px;
  font-weight: 400;
  color: rgb(35, 35, 35);
}

.front button {
  height: 80px;
  width: 220px;
  font-family: "Cinzel Decorative", serif;
  font-size: 24px;
  font-weight: 500;
  border: solid 1px rgba(0, 0, 0, 0.962);
  background-color: rgba(0, 0, 0, 0.111);
  transition: background-color 0.1s;
}
.front button:hover {
  background-color: black;
  color: white;
}

/* ***************************************************************************** */

#mouse-circle {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 100;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.276);
  margin: -32px 0 0 -32px;
  backdrop-filter: blur(1px);
  border-radius: 50%;
  pointer-events: none;
}

/* mobile dimensions ******************************************************************** */
@media screen and (max-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  #mouse-circle {
    display: none;
  }

  .menu {
    display: none;
  }

  .container {
    height: 100vh;
    margin: 0;
  }

  .hero {
    overflow: hidden;

    margin: 0;
    border-radius: 0;
    background-color: var(--background-color);
    height: 100vh;
    background-image: url("../assets/heromobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: left;
    align-items: center;
  }

  .bgimage {
    /* border-radius: 16px; */
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .front {
    position: absolute;
    top: 200px;
    left: 80px;
  }

  .herotext {
    font-family: "Cinzel Decorative", serif;
    font-size: 100px;
    font-weight: 400;
    color: rgb(35, 35, 35);
  }

  .front button {
    height: 80px;
    width: 220px;
    font-family: "Cinzel Decorative", serif;
    font-size: 24px;
    font-weight: 500;
    border: solid 1px rgba(0, 0, 0, 0.962);
    background-color: rgba(0, 0, 0, 0.111);
    transition: background-color 0.1s;
  }
}
